header{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 293px;
    position: relative;
    font-size: 18px;
}
.header-logo{

    justify-self: center;
    height: 94.84px;
    width: 124px;
}
.header-address{

    justify-self: end;
    height: 98px;
    width: 240px;
    margin: 95px 50px 100px 0;
    font-style: normal;
}
.header-nav{
    display: flex;
    justify-self: start;
    list-style: circle;
    gap: 34px;
    margin: 133px 0 139px 50px;
    height: 22px;
    width: 391.48px;
}
.cover{
    position: relative;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 757px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 101px;
    justify-items: center;
}
.cover::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.cover div h1, div{
    position: relative;
    z-index: 1;
    color: #fff;

}
.cover-button{
    border: 1px solid white;
    background: transparent;
    color: #fff;
    padding: 12px 32px 11px 31px;
    font-size: 20px;
    margin: 0 0 0 107px;
    height: 51px;
    width: 256px;
}

.cover-div-h1{
    width: 1000px;
    height: 385px;
    margin: 165px 50px 106px 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.cover-h1{
    font-family: Raleway;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 30px;
}
.hh1{

}
.hh2{
    margin: 0 0 0 330.5px
}
.hh3{
    margin: 0 0 0 613px;
}
.description {
    font-size: 22px;
    display: flex;
    height: 51px;
    width: 1000px;
    align-items: center;
}
.description p{
    letter-spacing: normal;
    word-spacing: 18px;
}
.width{
    width: 1052px;
}
.lots{
    margin: 180px auto;
}
.lots ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}
.lots h1{
    font-family: Raleway;
    font-weight: bold;
    margin: 0 0 27px 40px;
    font-size: 40px;
}
.lots p{
    margin: 30px 0 0 40px;
    font-size: 20px;
    text-decoration: underline;
}
.lots a {
    text-decoration: none; /* убирает подчёркивание у ссылки */
    display: block;        /* чтобы ссылка вела себя как блок, а не строчный элемент */
}
.card{
    position: relative;
    height: 596px;
    width: 334px;
    padding: 48px 40px 40px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.card-img1{
    background-image: url('/images/card-lot-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-img2{
    background-image: url('/images/card-lot-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-img3{
    background-image: url('/images/card-lot-03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-title{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 22px;
    font-family: Raleway;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
}
.card-text{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
}
.about{
    display: grid;
    grid-template-columns: 287px 72px 1fr;
    padding: 35px 0 0 47px;
    margin: 120px auto;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}
.circle-logo{
    width: 148px;
    height: 114px;
}
.about div h1{
    color: black;
    font-family: Raleway;
    font-weight: bold;
    font-size: 40px;
    margin: 101px 0  123px 0;
}
.about div p{
    margin: 24px 5px 0 0;
    color: black;
    font-size: 20px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 163.9px 1fr;
    height: 180px;
    margin: 180px 0 0 0;
}
.footer-ul-social{
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 1px 50px 0 0;
    justify-content: end;
    align-items: start;
}
.footer-nav{
    list-style: none;
    text-align: center;
}
footer ul li a img{
    height: 48px;
    width: 48px;
}
footer address{
    margin: 0 0 0 50px;
    font-style: normal;
}